itsdangerous==1.1.0
SQLAlchemy==1.2.15
Flask==1.0.2
bleach==3.0.2
Werkzeug==0.14.1
alembic==1.0.5
Faker==1.0.1
flask_bootstrap==3.3.7.1
flask_login==0.4.1
flask_mail==0.9.1
flask_migrate==2.3.1
flask_moment==0.6.0
flask_pagedown==0.2.2
flask_script==2.0.6
flask_sqlalchemy==2.3.2
flask_wtf==0.14.2
Markdown==3.0.1
WTForms==2.2.1
